
.wrapper{
    display: flex;
    border: 1px solid red; 
}
.dataType-wrapper{
 margin: 300px auto;
 display: flex;
 flex-direction: column;
 width: 100%; 
 border: 1px solid rgb(109, 210, 33); 
}
.choose-dataType-wrapper{
    text-align: center;
    border: 1px solid red; 
}
.choose-dataType{
    margin-bottom: 100px;
    
}
.dataType-buttons{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}
.dataType, .userButton{
    width: 200px;
    height: 50px;
    background:#FF0000;
    color: #fff;
    font-size: 2rem;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
.userButton{
    margin-bottom: 30px;
}