.sidebar{
    display: flex;
    flex-direction: column;
    background: #000;
    width: 117px;
    justify-content:space-between;
    align-items: center;
}
.icon-list{
  margin-top: 200px;  
}
.copyright{
    transform: rotate(-90deg);
    color: #fff;
    width: 200px;
    margin-bottom: 190px;
}
.icon{
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
}