.greetings-wrapper{
    margin: 50px 0 0 100px;
  font-size: 18px;  
}

.firstname{
    color:#FF0000 ;  
}

.greetings-firstname, .firstname{
    font-size: 48px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
}
.greetings-firstname{
    margin-bottom: 41px ;
}
