@media screen and (min-width: 1024px) and (min-height: 780px) {
  .layout-wrapper {
    display: grid;
    height: 100vh;
    margin: 0;
    grid-template-columns: 9% 91%;
    grid-template-rows: 7% 93%;
    grid-template-areas:
      'nav nav'
      'navt . '
      'navt .';
  }

  .nav-l {
    grid-area: nav;
    background-color: #000;
  }
  .nav-t {
    grid-area: navt;
    background-color: #000;
  }

  
  .red {
    border: 1px solid red;
  }
}
