.userButton {
  width: 200px;
  height: 50px;
  background: #ff0000;
  color: #fff;
  font-size: 2rem;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
