@media screen and (min-width: 1024px) and (min-height: 780px) {
  .red {
    border: 1px solid red;
  }
  .dashboard{
    display: grid;
    grid-template-columns:6% 45% 25% 4% 14% 6%;
    grid-template-rows: 5% 14% 6% 35% 35% 9%;
    grid-template-areas: 
      ' . . . . . .'
      ' . grt . . . .'
      '. . . . . .'
      ' . act act . par  .'
      ' . obj obj . par  .'
      ' .  .   .  .  .  .';
  }

  .charts-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 1.3rem;
  }

  .parameter {
    background-color: #fbfbfb;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
    gap: 5%;
  }
  
  .calories img,
  .proteines img,
  .lipides img,
  .glucides img {
    width: 3.8rem;
    height: 3.8rem;
    margin-right: 1rem;
  }
  .calories p,
  .proteines p,
  .lipides p,
  .glucides p {
    font-weight: bold;
  }
  
  .greet {
    grid-area: grt;
  }

  .act {
    grid-area: act;
  }
 
  .charts-bottom {
    grid-area: obj;
    display: flex;
    justify-content: space-between;
  }

  .params {
    grid-area: par;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
