@media screen and (min-width: 1024px) and (min-height: 780px) {
  .red {
    border: 1px solid red;
  }

  .charts-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 1.3rem;
  }

  .parameter {
    background-color: #fbfbfb;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
    gap: 5%;
  }
  
  .calories img,
  .proteines img,
  .lipides img,
  .glucides img {
    width: 3.8rem;
    height: 3.8rem;
    margin-right: 1rem;
  }
  .calories p,
  .proteines p,
  .lipides p,
  .glucides p {
    font-weight: bold;
  }
}
