.container {
  background: #ff0000;
  height: 263px;
  width: 258px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  margin: 100px;
}

.tooltipLabel {
  height: 24px;
  width: 25px;
  font-size: 8px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  background: #fff;
}

.legend {
  color: #fff;
  height: 48px;
  width: 147px;
  margin: 30px 0 0 30px;
  opacity: 0.5;
}
