@media screen and (min-width: 1024px) and (min-height: 780px) {
  .obj-container {
    background: #ff0000;
    width: 32%;
    left: 0rem;
    top: 0rem;
    border-radius: 0.3rem;
    
  }

  .tooltipLabel {
    height: 1.5rem;
    width: 1.52rem;
    font-size: 0.5rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0rem;
    text-align: center;
    background: #fff;
  }

  .legend {
    color: #fff;
    height: 3rem;
    width: 9.2rem;
    margin: 1.9rem 0 0 1.9rem;
    opacity: 0.5;
  }
 
}
